@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {

    width: 100%;
    height: 100%;
    margin: 0;

}

.navbar {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    
}

.nav-menu {
    margin: 0 30px 0 0;
}



.nav-menu a {
    clear: right;
    color: rgb(177, 137, 78);
    margin: 0 10px;
    line-height: 70px;
    
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;

}

#toggle {
    display: none;
}

@media only screen and (max-width: 750px) {
    label {
        display: block;
        cursor: pointer;
    }
    .nav-menu {
        text-align: center;
        width: 100%;
        display: none;
        

    }

    .nav-menu {
        text-align: center;
        width: 100%;
        display: none;
        position: fixed;
        top: 72px;
        z-index: 5;
        background-color: #fff;
    }


    .nav-menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        
    }

    #toggle:checked + .nav-menu {
        display: block;
        
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .nav-menu {
        font-size: 16px;
    }

    .grid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    .banner {
        font-size: 26px !important;
        padding: 20px 22px 15px 18px;
        min-height: 350px;
        background-image: url(./images/heroImg.jpg);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    .banner2 {
        font-size: 24px !important;
    }

    .Award {
        background-image: url(./images/Award.jpg);
        padding: 50px 30px 15px 30px;
        padding-top: 100px !important;
        background-size: 100%;
        background-repeat: no-repeat;
        color: white;
        margin: auto;
        text-align: center;
        font-size: 30px !important;
        min-height: 400px;
    }

    .Map {
        background-color: rgb(3, 29, 83);
        padding-bottom: 60px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        color: white;
        text-align: center;
        font-size: 22px !important;
    }


    .coffee {
        background-image: url(./images/menuBackground.JPG);
        background-size:  cover;
        background-repeat: no-repeat;
        font-size: 18px !important;
        padding: 20px 15px 100px 30px;
           
    }

    .contact {
        background-image: url(./images/contactBackground.jpeg);
        padding: 30px 30px 50px 30px;
        border: 0px;
        margin: 0px;
        color: white;    
        font-size: 14px;
        
    }


}

@media only screen and (min-width: 1025px) {

    .nav-menu {
        font-size: 20px;
    }

    .banner {
        font-size: 36px !important;
        padding: 20px 22px 15px 18px;
        min-height: 500px;
        background-image: url(./images/heroImg.jpg);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    .banner2 {
        font-size: 34px !important;
    }

    .Award {
        background-image: url(./images/Award.jpg);
        padding: 50px 30px 15px 30px;
        padding-top: 100px !important;
        background-size: contain%;
        background-repeat: no-repeat;
        color: white;
        margin: auto;
        text-align: center;
        font-size: 30px !important;
        min-height: 600px;
    }

    .Map {
        background-color: rgb(3, 29, 83);
        padding-bottom: 60px;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        color: white;
        text-align: center;
        font-size: 22px !important;
    }

    .grid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .contact {
        background-image: url(./images/contactBackground.jpeg);
        padding: 30px 30px 50px 30px;
        border: 0px;
        margin: 0px;
        color: white;    
        font-size: 14px;
        
    }

    .grid3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }


}



html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;
}

.header {
    background-color: white;
}


.header {
    border-bottom: 1px solid #E2E8F0;
}





.banner {
    font-size: 20px;
    padding: 20px 22px 15px 18px;
    background-image: url(./images/heroImg.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
}

.banner2 {
    font-size: 14px;
}

.Award {
    background-image: url(./images/Award.jpg);
    padding: 30px 30px 15px 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.Map {
    background-color: rgb(3, 29, 83);
    padding-bottom: 60px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    color: white;
    text-align: center;
    font-size: 14px;
}

.grid1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.kkMap {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.menuHeader {
    text-align: center;
    padding-bottom: 15px;
    font-size: 26px;
}

.coffee {
    background-image: url(./images/menuBackground.JPG);
    background-size:  cover;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 20px 15px 100px 30px;
       
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newsLetter {
    background-color: rgb(141, 90, 61);
    padding: 30px 30px 30px 30px;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.contact {
    background-image: url(./images/contactBackground.jpeg);
    padding: 30px 30px 50px 30px;
    border: 0px;
    margin: 0px;
    color: white;    
    font-size: 14px;
}

.grid3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.socials {
    width: 200px;
}


.footer {
    background-color: rgb(43, 21, 0);
    padding: 30px;
    border: 0px;
    margin: 0px;
    color: white;
    text-align: center;
}